.blog-post{
    width: 300px;
    height: 400px;
    background-color: #fae5d3;
    margin-top: 50px;
}
.post-content img{
    width: 200px;
    height: 180px;
}
.blog-container{
    width: 300px;
    height: 400px;
    background-color: #fdf2e9;
    padding: 1rem;
}
  .post-meta {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: #666;
  }
  
  
  .post-content h3  {
    font-size: 20px;
    color: #333;
  }
  
  .post-content p {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
  }
  
  /* Author Info */
  .author-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0.5rem;
    background-color: #fdf2e9;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 0;
  }
  
  .author-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .author-details{
    display:flex ;
    align-items: center;
    justify-content: space-around;
    gap: 0px;
}
  .author-details p {
    margin: 0;
    font-size: 14px;
    width: 200px;
  }
  
  .author-details p a {
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }