
.Cuisine-wrapper{
    background-color: white;
    width: 99.7vw;
    padding-bottom: 100px;
}
.cuisine-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
   padding: 1.5rem;
   
}
.cuisine-header h3{
    color: #555;
    font-size: 40px;
margin-left: 450px;
font-family: "Playwrite AU SA", cursive;
font-optical-sizing: auto;
  font-weight: 400;
  font-style:italic;
}

.cuisine-cards{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.8rem;
}
.seeMore{
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 50px;
}
/* From Uiverse.io by d4niz */ 
.seemore{
    background: #ee862b;
    color: white;
    font-family: inherit;
    padding: 0.45em;
    padding-left: 1em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    cursor: pointer;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #eb984e;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3em;
  }
  
  .iconButton  {
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #eb984e;
    right: 0.3em;
    transition: all 0.3s;
  }
  .iconButton i{
    color: white;
  }
  
  .seemore:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #5566c2;
  }
  
  .seemore:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #5566c2;
  }
  