.wrapper{
    height: 80vh;
    width: 99.7vw;
    background-image: url('/public/hero.png');
        background-size: cover;
        background-position: center;
    opacity: 0.75;
      display: flex;
justify-content: space-between;
}
.container{
    position: absolute;
    left: 450px;
}
.quoteCont{
    display: inline-block;
    justify-content: center;
    align-items: center;
margin: 0;
padding: 0;
margin-left: 90px;
}
.quote{
    text-align: center;
    color: white;
    text-wrap: wrap;
    width: 50%;
    font-size: 75px;
    font-family: "DM Serif Display", serif;
  font-weight: 500;
  font-style: normal;
  padding: 0;
  margin-bottom: 0;
}
/* From Uiverse.io by ozgeozkaraa01 */ 
.search {
    display: flex;
    line-height: 30px;
    align-items: center;
    position: relative;
    width: 350px;
    top:0px;
    left: 140px;
  }
  
  .searchInp {
    width: 100%;
    height: 45px;
    line-height: 30px;
    padding: 0 5rem;
    padding-left: 3rem;
    border: 3px solid blanchedalmond;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    color: #fae5d3;
    transition: .5s ease;
  }
  
  .searchInp::placeholder {
    color: #fae5d3;
    font-size: 1rem;
    font-weight: bolder;
  }
  
  .searchInp:focus, .searchInp:hover {
    outline: none;
    color: black;
    border-color: #cf711f;
    background-color: #fae5d3c2;
    box-shadow: 0 0 0 5px #cf711f7d;
  }
  .searchInp:focus::placeholder,
.searchInp:hover::placeholder {
    color: black;
}
  
  